{% extends '@RodwSearchEngine/Results/base.html.twig' %}

{% block result -%}
    <div class="video-container">
        <iframe src="{{ raw_output }}" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}