<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-2">
            <div class="about-header">
                <h1 class="about-title">Ontstaan <div data-my-colorize="Vind Niet" class="colorize-heading"></div></h1>
            </div>
            <div class="about-text">
                <p>
                    Er is al een lange tijd een grote vraag naar vindnietmachines (zoekmachines die niets vinden). Het grote Microsoft stapte als eerste in deze business met hun zoekmachine Bing. Echter is er sinds de release al veel kritiek op Bing omdat het nog te vaak met resultaten komt waar de gebruiker iets aan heeft.
                </p>
                <p>
                    Wij van VindNiet.nl hebben de problemen van Bing uitvoerig geanalyseerd, en zijn er vervolgens in geslaagd een verbeterd algoritme te ontwikkelen. Resulterend in VindNiet.nl, een zoekmachine die (bijna) nooit iets vindt.
                </p>

                <h4>Slogan</h4>
                <p>VindNiet.nl, als je iets zoekt dat je niet wilt vinden.</p>

                <h4>Motto</h4>
                <p>Een dag alles vinden is een verloren dag.</p>

                <h4>Doelstelling</h4>
                <p>
                    Binnen 3 jaar de grootste vindnietmachine van Nederland zijn.
                </p>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-container">
        <p class="text-muted">Bing Mauricius: "VindNiet.nl heeft mijn leven in een zeer positieve zin veranderd."</p>
        <ul>
            <li><a my-named-route="home">Home</a></li>
            <li><a my-named-route="api_doc" target="_self">API</a></li>
            <li><a my-named-route="git" target="_blank">GitHub</a></li>
        </ul>
    </div>
</footer>