<div ng-controller="indexController">
    <div class="container-fluid">
        <div class="row">
            <div id="search-box" my-margin-top>
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                    <form novalidate>
                        <div class="form-group">
                            <div id="logo" data-my-colorize="Vind Niet"></div>
                            <div class="input-group">
                                <input ng-model="data.query" my-key-press="search()" code="13" type="text"
                                       class="form-control" id="search"
                                       placeholder="Als je iets zoekt dat je niet wilt vinden*" required
                                       my-remove-placeholder remove-on-width="450">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info" aria-label="Left Align"
                                            ng-click="search()">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        <span class="bold-button-text">Zoek</span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-md-offset-5 col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                    <button type="button" class="btn btn-warning btn-block" id="gamble" ng-click="gamble()">Ik doe een
                        gok
                    </button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <p class="text-muted">* Wij zijn er niet verantwoordelijk voor mocht u plots wel iets vinden.</p>
            <ul>
                <li><a my-named-route="about">Over</a></li>
                <li><a my-named-route="api_doc" target="_self">API</a></li>
                <li><a my-named-route="git" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </footer>
</div>