<div ng-controller="resultController">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-md-3">
                    <a class="navbar-brand" href="/" data-my-colorize="Vind Niet"></a>
                </div>
                <div id="navbar" class="col-md-5 col-sm-8 col-xs-12">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="data.query" my-key-press="search()" code="13">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-2 col-sm-12" id="search-results">
                <div ng-repeat="result in results">
                    <div ng-bind-html="result.output | to_trusted"></div>
                </div>
                <div ng-show="noResults()" class="result">
                    <h3>Geen resultaten gevonden</h3>
                    <p>Suggesties:</p>
                    <ul>
                        <li>Probeer iets anders!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <p class="text-muted">{{ footerText }}</p>
            <ul>
                <li><a my-named-route="home">Home</a></li>
                <li><a my-named-route="about">Over</a></li>
                <li><a my-named-route="api_doc" target="_self">API</a></li>
                <li><a my-named-route="git" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </footer>
</div>