body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    margin-bottom: 75px;
}

@media all and (max-width: 680px) {
    body {
        margin-bottom: 200px;
    }
}

h2, h3 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

h4 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ng-submitted input.ng-invalid {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#logo {
    text-align: center;
    width: 100%;
    font-size: 66px;
    font-weight: bold;
    margin-bottom: 16px;
}

.colorize-heading {
    display: inline;
}

#gamble {
    margin-top: 20px;
}

.bold-button-text {
    font-weight: bold;
    padding-left: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    background-color: #f5f5f5;
}

footer .footer-container {
    margin-top: 20px;
}

.footer-container p {
    display: block;
    margin-left: 25px;
}

@media all and (min-width: 850px) {
    .footer-container p {
        float: left;
    }
}

@media all and (min-width: 850px) {
    .footer-container ul {
        float: right;
        list-style: none;
    }
}

@media all and (max-width: 849px) {
    .footer-container ul {
        list-style: disc;
        padding-left: 40px;
    }
}

@media all and (min-width: 850px) {
    .footer-container ul li {
        float: left;
        display: block;
        padding-right: 50px;
        text-decoration: underline;
    }
}

@media all and (max-width: 849px) {
    .footer-container ul li {
        padding: 5px;
        display: list-item;
    }
}

/* About page */
.about-header {
    padding-top: 20px;
    padding-bottom: 10px;
}

.about-title {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.about-text {
    font-size: 18px;
    line-height: 1.5;
}

/* Navbar styles */
.navbar {
    min-height: 70px;
}

.navbar .container {
    margin-top: 10px;
}

.navbar-brand {
    font-size: 40px;
}

@media all and (max-width: 767px) {
    .navbar-brand {
        width: 100%;
        text-align: center;
    }
}

.navbar-form .form-group {
    display: inline;
}

@media all and (min-width: 768px) {
    .navbar-form, .navbar-form .form-control {
        width: 100%;
    }
}

/* Results styles */
#search-results {
    margin-top: 10px;
}

#search-results .result {
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* API doc */
#sandbox_configuration {
    padding: 10px 0 0 0;
}

#resources_container {
    margin-top: -20px;
}

#resources {
    padding: 0;
}

@media all and (max-width: 767px) {
    #sandbox_configuration {
        float: none;
    }
}