{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@RodwSearchEngineBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body -%}

    <div id="search-box">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}