<html>
    <body>
        <h1>Error with search engine</h1>
        <p>There is searched for "{{ search_query }}" on vindniet.nl</p>
        <p>Unfortunately, the user got a result after this search request.</p>
    </body>
</html>